.container {
    height: 40rem !important;
    width: 56rem !important;
}

.toastui-calendar-layout {
    height: 100%;
    background-color: white;
}

.toastui-calendar-panel {
    width: 100%;
    height: 44px;
}

.toastui-calendar-panel.toastui-calendar-week-view-day-names {
    overflow-y: hidden !important;

}

.toastui-calendar-day-view .toastui-calendar-panel:not(.toastui-calendar-time)
.toastui-calendar-week-view .toastui-calendar-panel:not(.toastui-calendar-time) {
    overflow-y: scroll !important;
    padding-left: 100rem !important;
}


.toastui-calendar-panel.toastui-calendar-time {
    height: 30rem !important;
}

.toastui-calendar-day-name-container {
    margin-left: 72px;
}

.toastui-calendar-day-name-item {
    width: 14.2857%;
    left: 0%;
    border-left: none;
}

.toastui-calendar-holiday-sat {
    color: #3a86ff !important;
}

.toastui-calendar-holiday-sun {
    color: #ff486a !important;
}

[data-testid="dayName-week-mon"],
[data-testid="dayName-week-tue"],
[data-testid="dayName-week-wed"],
[data-testid="dayName-week-thu"],
[data-testid="dayName-week-fri"],
.toastui-calendar-day-name-item.toastui-calendar-week {
    color: black !important;
}

.toastui-calendar-timegrid {
    /* width: 3rem !important; */
}

.toastui-calendar-timegrid-time-column {
    width: 100%;
    border-right: 1px solid rgb(229, 229, 229);
}

.toastui-calendar-timegrid-hour-rows {
    width: 100%;
    border-right: 1px solid rgb(229, 229, 229);
}

.toastui-calendar-timegrid-time,
.toastui-calendar-timegrid-time-first,
.toastui-calendar-timegrid-time-last {
    color: rgb(187, 187, 187);
}

.toastui-calendar-columns {
    left: 72px;
}

.toastui-calendar-column {
    width: 14.2857%;
    background-color: inherit;
    border-right: 1px solid rgb(229, 229, 229);
}

.toastui-calendar-gridlines,
.toastui-calendar-gridline-half {
    border-bottom: 1px solid rgb(229, 229, 229);
}

.toastui-calendar-event-time {
    width: calc(100% - 0px);
    height: calc(8.33333% - 2px);
    top: 33.3333%;
    left: 0%;
    border-radius: 2px;
    border-left: 3px solid rgb(0, 0, 0);
    margin-left: 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(161, 181, 108);
    opacity: 1;
    z-index: 0;
}